<!DOCTYPE html>
<html>
<head>
  <title>Orek Drive Yards Inc.</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<h1 id="logo">Orek Drive Yards Inc</h1>
  <nav id="menu">
    <ul> 
    <li><a href="/ships">View All Ships</a></li>
    <li><a href="/captains">View All Captains</a></li>
    <li><a href="/crews">View All Crew Members</a></li>
  </ul></nav>
  <%= yield %>

</body>
</html>