<!DOCTYPE html>
<html>
<head>
  <title>Orek Drive Yards</title>
  <link href="https://fonts.googleapis.com/css?family=Russo+One|Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<h1 id="logo">Orek Drive Yards</h1>
  <nav id="menu">
    <ul> 
    <li><a href="/ships">Ships</a></li>
    <li><a href="/captains">Captains</a></li>
    <li><a href="/crews">Crewmen</a></li>
  </ul></nav>
  <%= yield %>

</body>
</html>