<h2>Add A New Ship</h2>

<form method="POST" action="/ships">
  <div class="ship-new">
      <ul class="cards">
        <li class="card">
          <ul>
            <li><label for="ship_name">Name: </label>
              <input type="text" name="ship_name" id="ship_name"/></li>
            <li><label for="model">Model: </label>
              <input type="text" name="model" id="model"/></li>
            <li><label for="class">Class: </label>
              <input type="text" name="class" id="class"/></li>
            <li><label for="arrival_date">Received On:</label>
              <input type="date" id="arrival_date" name="arrival_date"
                value="<%= Date.today%>"
                min="1900-01-01" max="<%= Date.today %>" /></li>
            <li><label for="sales_status">Status: </label>
              <input type="text" name="sales_status" id="sales_status"/></li>
            <li><input name="buttom" type="submit" value="Add Ship"/></p></li>
          </ul>
        </li>
      </ul>
    </div>
</form>