<h2>Edit <%= @captain.full_name %></h2>
<form method="POST" action="/captains/<%= @captain.id %>">
  <div class="form-wrapper">
    
    <div class="form-el">
      <label for="first-name">First Name:</label>
      <input type="text" name="first_name" id="last_name" value="<%= @captain.first_name %>"/>
    </div>

    <div class="form-el">
      <label for="last-name">Last Name:</label>
      <input type="text" name="class" id="class" value="<%= @captain.last_name%>"/>
    </div>
    </br>
    <div class="form-el">
      <input type="submit" value="Apply Changes"/>
    </div>

  </div>
</form>