<h1>OREK DRIVE YARDS Inc</h1>

<div id="captain-wrapper">
    <% for captain in @captains %>

    <div class="captain">
        <p>NAME: <a "href=/captains/<%= captain.id %>"><%= captain.full_name%></a></p>
    </div>

    <p><a href="/captains/<%= captain.id%>">Show Details</a></p>
    
    <% end %>

    <a href="/captains/new">Add New Captain</a>
    </br>
    </br>
    <a href="/">Go Home</a>

</div>