<div class ="buttons">
        <ul>
            <li><a href="/captains/new">Add New Captain</a></li>
            <li><a href="/">Go Home</a></li>
    </div>

<div class="captain">
    <ul class="cards"><% for captain in @captains%>
        <li class="card">
            <ul>
                <li><img src="" alt="placeholder"></li>
                <li><h2 "href=/captains/<%= captain.id %>"><%= captain.full_name%></h2>
                <li>Ship: <% if captain.ship_id %>
                    <% @ship = captain.ship %>
                    <% if @ship.ship_name %>
                        <%= @ship.ship_name %>
                    <% else %>Nameless
                    <% end %>
                    <% else %>None
                    <% end %></li>
                <li><a href="/captains/<%= captain.id%>">Show Details</a></li>
            </ul>
        </li>
     <% end %></ul>
</div>

</div>